$normalColor : rgba(153,153,153,);
$divisibleColor : rgb(255, 92, 27);
$primaryTextColor: rgb(0,0,0);
$logo: url('../icons/back.svg');

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: $logo repeat center;
    background-size: 100px;
}

#main {
    width: 100%;
    height: 100%;
    span {
        animation: .2s span forwards;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        opacity: 0.85;
        text-align: center;
        color: $primaryTextColor;
        transform: translate(-10px, -10px);
        width: 20px;
        height: 20px;
    }
}



@keyframes span {
    100% {
        transform: translate(-30px, -30px);
        width: 60px;
        height: 60px;
    }
}

.normalElement {
    background-color: $normalColor;
}

.divisibleElement {
    background-color: $divisibleColor;
}